:root {
  --background-color-orange: #f56c2c;
  --background-color-red: #ff4747;
  --background-color-blue: #6fb0d6;
  --white-color: white;
  --black-color: black;
  --background-color-transparent: transparent;
  --border-size: 2px;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  box-sizing: border-box;
}

.secondSection {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.secondSection_mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 237, 237);
  border-bottom: 2px solid rgb(228, 228, 228);
  height: 100%;
}
.secondSection_mainSection h3 {
  display: flex;
  align-items: flex-end;
  height: 200px;
  font-size: 1.9em;
}

/* SECOND_SECTION: NAVBAR */

.secondSection_mainSection nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 120px;
  width: 100%;
  padding-top: 60px;
  padding-right: 250px;

  /* background-color: rgb(218, 218, 218); */
}

.secondSection_mainSection > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  row-gap: 2px;
  /* background-color: blue; */
}

.secondSection_mainSection li div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.secondSection_Div::after {
  content: " | ";
  position: relative;
  left: 18px;
  color: rgb(208, 208, 208);
}

.lastDiv::after {
  content: none;
}

.secondSection_mainSection div:hover {
  background-color: rgb(228, 228, 228);
}

.secondSection_mainSection > nav > ul > li > div > a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* SECOND_SECTION */

.secondSection_secondSection {
  height: 100%;
}

/* SECOND_SECTION: CARDS */

.secondSection_secondSection .secondSection_cards {
  background-color: rgb(197, 25, 25);
  display: flex;
  width: 100%;
  height: 100%;
}

.secondSection_secondSection .cards_elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 100%;
  gap: 15px;
  padding: 60px 0;
}

.secondSection_secondSection .firstLineCards {
  display: flex;
  gap: 15px;
}
.secondSection_secondSection .secondLineCards {
  display: flex;
  gap: 15px;
}

.electronicSpan {
  font-weight: 800;
  color: tomato;
  margin-right: 10px;
}
.dateSpan {
  font-weight: bolder;
}
.card-title {
  font-weight: unset;
}

.card {
  width: 350px;
  height: 455px;
  top: 0px;
  transition: all 300ms ease-out;
  box-shadow: 0px 5px 5px rgba(56, 56, 56, 0.356);
  border: none;
}
.card:hover {
  transform: translateY(-10px);
  transition: all 300ms ease-out;
  box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.356);
}

/* SECOND_SECTION: TRANSPARENT BUTTON*/

.secondSection_button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-bottom: 50px;
}

.secondSection_button .btnSize {
  height: 60px;
  width: 168px;
  margin: 10px;
  font-size: 0.8em;
}

.secondSection_button .bttn-two {
  background-color: var(--background-color-transparent);
  padding: 0.5em;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.secondSection_button .bttn-two.btnHover2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: 2px solid var(--black-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
  border-radius: 4px;
}

.secondSection_button .bttn-two.btnHover2:hover::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
  background-color: var(--background-color-transparent);
}
