:root {
  --background-color-orange: #f56c2c;
  --background-color-red: #ff4747;
  --background-color-transparent: transparent;
  --border-size: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainHeader .headerDiv {
  min-width: 100%;
  min-height: 40px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mainHeader .icons {
  background-color: transparent;
  max-height: 20px;
  width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainHeader .icons div {
  cursor: pointer;
  display: block;
  fill: darkgray;
  background-color: transparent;
}

.mainHeader .icons > div > svg {
  width: 20px;
  height: 20px;
}
.icons div svg:hover {
  filter: brightness(150%);
}

.mainHeader .navBar {
  height: 50px;
  display: flex;
  align-items: center;
}
.mainHeader .navBarDots {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transition: linear 0.2s;
  margin-bottom: 13px;
}
.divAlignLeft {
  height: 100%;
  display: flex;
  align-items: center;
}
.divLinks {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}
.divLinks div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eaImg {
  padding: 0 30px;
}

.divLinks div svg {
  margin-left: 10px;
}

.mainHeader .navBarDots:hover {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transform: scale(1.5);
  fill: tomato;
  transition: linear 0.2s;
}
.bgImg {
  width: 100%;
  height: 1000px;
  background-image: url(design-system/Background-images/battlefield2042-solo-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bgImg svg {
  position: absolute;
  left: 350px;
  top: 450px;
  transform: scale(1.3);
  transition: linear 0.3s;
}

.mainHeader .bgImg .btnSize {
  height: 60px;
  width: 168px;
  margin: 10px;
}

.mainHeader .bgImg .bttn-two {
  background-color: var(--background-color-transparent);
  padding: 0.5em;
  border: none;
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  color: #26ffdf;
  left: 500px;
  top: 550px;
  opacity: 0;
  transition: linear 0.3s;
  font-size: 20px;
}

.mainHeader .bgImg .bttn-two.btnHover2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 2px solid #26ffdf;
  transition: top, left, right, bottom, 100ms ease-in-out;
  border-radius: 4px;
}

.mainHeader .bgImg .bttn-two.btnHover2:hover::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
  background-color: var(--background-color-transparent);
}
