* {
  font-family: "Outfit", sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
}

/* Header e nav-bar */

.headerDiv {
  min-width: 100%;
  min-height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons {
  background-color: transparent;
  max-height: 20px;
  width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Buttons */

.btn {
  height: 60px;
  width: 155px;
  border-radius: 3px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 20px;
  font-weight: 900;
}
.btn2 {
  color: white;
  height: 60px;
  width: 155px;
  border: none;
  border-radius: 3px;
  /* border: 2px solid black; */
  background-color: tomato;
  font-size: 20px;
  font-weight: 900;
}

/* Prima section */

.container {
  min-width: 100%;
  height: 600px;
  background-color: violet;
}

.column div {
  height: 180px;
  width: 180px;
  background-color: brown;
  border: 1px solid black;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
}

#primoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/apex_Legends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
#secondoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/battlefield_2042.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#terzoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/F1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#quartoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/fifa22.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#quintoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/need_For_Speed_HotPursuit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#sestoQuadrato {
  background-image: url(cartella_immagini_ea/immagini_prima_section/The_Sims_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Seconda section */

.column2 > div {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 180px;
  background-color: brown;
  border: 1px solid black;
}

.primaimg {
  border: 1px solid black;
  /* height: 40% ; */
  flex-grow: 2;
}
.miniarticolo {
  border: 1px solid black;
  /* height: 60%; */
  flex-grow: 3;
}

#primoQuadrato1 .primaimg {
  background-image: url(cartella_immagini_ea/immagini_prima_section/The_Sims_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#secondoQuadrato2 .primaimg {
  background-image: url(cartella_immagini_ea/immagini_prima_section/battlefield_2042.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.quadratoMaledetto .primaimg {
  background-image: url(cartella_immagini_ea/immagini_seconda_section/default_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
