* {
  font-family: "Outfit", sans-serif;
  background-color: whitesmoke;
}

.btn {
  height: 60px;
  width: 155px;
  border-radius: 3px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 20px;
  font-weight: 900;
}
.btn2 {
  color: white;
  height: 60px;
  width: 155px;
  border: none;
  border-radius: 3px;
  /* border: 2px solid black; */
  background-color: tomato;
  font-size: 20px;
  font-weight: 900;
}

.container {
  min-width: 100%;
  height: 600px;
  background-color: violet;
}

.column div {
  height: 180px;
  width: 180px;
  background-color: brown;
  border: 1px solid black;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#primoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/apex_Legends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
#secondoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/battlefield_2042.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#terzoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/F1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#quartoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/fifa22.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#quintoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/need_For_Speed_HotPursuit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#sestoQuadrato {
  background-image: url(/cartella_immagini_ea/immagini_prima_section/The_Sims_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
