:root {
    --background-color-orange: #f56c2c;
    --background-color-red: #ff4747;
    --background-color-blue: #6fb0d6;
    --white-color: white;
    --black-color: black;
    --background-color-transparent: transparent;
    --border-size: 2px;
}

* {
    font-family: "Outfit", sans-serif;

}

body {
    margin: 0;
    border: 0;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
}

/* THIRD_SECTION: MAIN SECTION */

.thirdSection {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 70vh;

}


.thirdSection_mainSection {

    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-image: url(/cartella_immagini_ea/immagini_penultima_section/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg);
}

.thirdSection_mainSectionElems {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 400px;
    width: 50%;
    height: 100%;

}



.thirdSection_mainSectionElems p {

    color: var(--white-color);
    font-size: 1.2rem;
    padding-left: 10px;
}


/* THIRD_SECTION: WHITE BORDER BUTTON */

.thirdSection_mainSectionElems .bttnSize {
    height: 60px;
    width: 168px;
    margin: 10px;
    font-size: 0.8em;
}



.thirdSection_mainSectionElems .bttn-one {

    background-color: var(--background-color-transparent);
    padding: 0.5em;
    border: none;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    color: var(--white-color);
}

.thirdSection_mainSectionElems .bttn-one.btnHover1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 2px solid var(--white-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
    border-radius: 4px;
}

.thirdSection_mainSectionElems>.bttn-one.btnHover1:hover::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    background-color: var(--background-color-transparent);
}



/* THIRD_SECTION: SECOND SECTION */



.thirdSection_secondSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    z-index: 1;
    background-color: var(--background-color-blue);

}


.thirdSection_secondSection h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #161616;
}


/* THIRD_SECTION: BLACK BORDER BUTTON */

.thirdSection .btnSize {
    height: 60px;
    width: 168px;
    margin: 10px;
    font-size: 0.8em;
}



.thirdSection .bttn-two {

    background-color: var(--background-color-transparent);
    padding: 0.5em;
    border: none;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.thirdSection .bttn-two.btnHover2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 2px solid var(--black-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
    border-radius: 4px;
}

.thirdSection .bttn-two.btnHover2:hover::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    background-color: var(--background-color-transparent);
}